*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}

nav ul li ul{
    position: absolute;
    display: none;
    background-color: #f5ffff;
    padding: 4px;
    text-align: left;
    border-radius: 0 0 4px 4px;
    width: 85px;
    font-size: 15px;
}

nav ul li:hover ul{
    display: block;
}

nav ul li a{
    text-decoration: none;
    color: #6654bf;
    display: block;
    font-size: 20px;
}

nav ul li a:hover{
    color: black;
}

.container{
    max-width: 1080px;
    margin: auto;
    padding: 0 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    flex-direction: column;
    min-width: 300px;
}

.col-2 text{
    padding-bottom: 40px;
}

.col-2 img{
    padding: 40px;
    margin-bottom: 20px;
    float: right;
}

.text{
    padding: 25px;
    align-items: center;
}

.text h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    font-family: Felix Titling;
    color: #6654bf;
}

.text h2{
    font-family: Felix Titling;
    color: #6654bf;
}

.btn{
    display: inline-block;
    background-color: #6654bf;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    text-decoration: none;
}

.btn:hover{
    background-color: #9b8edd;
    color: black;
}
.header{
    background: radial-gradient(white,#f5ffff);
    font-family: 'Times New Roman', Times, serif;
    height: 650px;
}

.row-1{
    display: inline-block;
    align-items: center;
    flex-wrap: wrap;
}

.categories{
    margin: 30px 0;
}

.small-container{
    width: 1080px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.col-4{
    flex-basis: 25%;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #6654bf;
}

.title::after{
    content: '';
    background: #f5ffff;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #6654bf;
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
}

.col-4:hover{
    transform: translateY(-5px);
}

/*------- All products --------*/
.row-2{
    display: flex;
    justify-content: space-between;
    margin: 100px auto 50px;
}

.row-2 h2{
    font-weight: 700;
    font-size: 36px;
    color: #6654bf;
}

select{
    border: 1px solid #6654bf;
    padding: 5px;
}

select:focus{
    outline: none;
}

.page-btn{
    margin: 0 auto 80px;
}

.page-btn span{
    display: inline-block;
    border: 1px solid #6654bf;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover{
    background: #6654bf;
    color: white;
}

/*------- footer --------*/
.footer{
    background-color: #6654bf;
    color: #f5ffff;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #f5ffff;
}

.footer h3{
    color: white;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 50%;
}

.footer-col-1{
    min-width: 250px;
    margin-bottom: 20px;
    float: left;
    padding: 0 60px;
    text-align: center;
}


.footer-col-1 p{
    text-align: center;
}

.footer-col-1 img{
    width: 250px;
    margin-bottom: 20px;
}

ul{
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 4px;
}

.social-media{
    text-align: right;
}

.social-media a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.footer hr{
    border: none;
    background: white;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
}

.menu{
    margin-left: 20px;
    display: none;
}

/*-----------single product details-----------*/
.single-product{
    margin-top: 80px;
}

.single-product .col-2 img{
    padding: 0;
}

.single-product .col-2{
    padding: 20px;
}

.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #6654bf;
}

input:focus{
    outline: none;
}

/*----------- media query ---------*/
@media only screen and (max-width: 800px){
    .header{
        height: 700px;
    }

    nav ul{
        position: absolute;
        top: 95px;
        left: 0;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .menu{
        display: block;
        cursor: pointer;
    }

}

/*--------media query for less than 600 screen size---------*/
@media only screen and (max-width: 600px){
    .header{
        height: 750px;
    }

   .title{
    margin-left: 150px;
   }

   .title::after{
    margin-left: -80px;
   }

    .row{
        text-align: center;
        width: 450px;
    }
    .row-2{
        display: inline-block;
        width: 450px;
    }
    .title{
        text-align: left;
        margin-top: 40px;
    }
    .col-2, .col-3, .col-4, .col-5{
        flex-basis: 100%;
    }
    .footer-col-1, .footer-col-2{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product h1{
        font-size: 25px;
        line-height: 30px;
    }
    .small-container{
        width: 500px;
    }
    .cart-info p{
        display: none;
    }
}