* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: black;
    min-height: 100vh;
    font-family: "montserrat", sans-serif;
    color: white;
}

.side-bar {
    width: 130px;
    background-color: rgb(53, 51, 51);
    min-height: 100vh;
    padding: 0;
    margin: 0%;
    display: inline-block;
    position: fixed;
}

#side-img {
    object-fit: cover;
}

a {
    width: 100%;
    display: block;
    padding: 20px;
    color: white;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    
}

a:hover {
    background-color: black;
}

a:active {
    background-color: black;
}

#main {
    margin-left: 35%;
    width: 600px;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
    position: relative;
    margin-top: 70px;
    display: inline-block;
    font-size: 70px;
    font-weight: 400;
}

h2 {
    color: white;
    text-align: center;
    position: relative;
    margin-top: 25px;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
}

#main-img {
    position: relative;
    display: inline-block;
    width: 100%;
}

#about {
    margin-left: 28%;
    margin-right: 20%;
    text-align: justify;
}

h3 {
    font-size: 30px;
    font-weight: 100;
    margin-top: 50px;
    margin-bottom: 25px;
    border-bottom: 1px solid grey;
    width: 180px;
    padding-bottom: 30px;
}

p {
    font-size: 15px;
    color: rgb(179, 171, 171);
}

h3.details {
    font-size: 25px;
    color: white;
    border-bottom: 0;
    padding-bottom: 0;
}

p.skill{
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Courier New', sans-serif, monospace;
}

.bar {
    background-color: white;
    margin-bottom: 15px;
}

.rate {
    background-color: darkgray;
}

.extra {
    min-width: 100%;
    margin-bottom: 10px;
    background-color: rgb(233, 229, 229);
}

.extra p.numbers {
    float: left;
    color: black;
    padding-top: 40px;
    margin-bottom: 5px;
    padding-left: 93px;
    font-size: 22px;
    width: 247px;
}

.extra p.xtext {
    display: inline-block;
    width: 240px;
    text-align: center;
    padding-bottom: 40px;
    color: black;
    font-size: 15px;
}

.download {
    margin-top: 10px;
    font-size: 14px;
    padding: 12px 20px;
    margin-bottom: 50px;
}

.download:hover {
    background-color: lightgray;
}

.box {
    margin-top: 30px;
    display: flex;
    margin-bottom: 50px;
}

.container {
    flex-basis: 50%;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

h4.package-name {
    color: lightgray;
    background-color: rgb(48, 45, 45);
    padding: 35px 0;
    font-size: 24px;
    font-weight: 200;
}

p.content {
    padding: 20px 0;
    background-color: darkgray;
    color: black;
    border-bottom: 1px solid grey;
}

p.price {
    color: black;
    background-color: darkgray;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
}

p.period {
    color: grey;
    background-color: darkgray;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}

.button {
    background-color: rgb(155, 153, 153);
}

button.sign {
    margin: 25px 0;
    padding: 18px 25px;
    font-size: 14px;
    background-color: darkgray;
    border: none;
}

button.sign:hover {
    color: white;
    background-color: black;
}

img.dp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial{
    display: flex;
    margin-top: 30px;
}

.ack {
    margin-top: 20px;
    margin-left: 18px;
    color: grey;
}

h5.title {
    font-weight: 100;
    font-size: 16px;
    margin-bottom: 20px;
}

p.words {
    color: grey;
}

#students {
    margin-left: 28%;
    margin-right: 20%;
    text-align: justify;
    margin-bottom: 20px;
}

#nobara {
    margin-left: 120px;
}

#contact {
    margin-left: 28%;
    margin-right: 20%;
    text-align: justify;
}

p.info {
    margin-left: 10px;
    font-weight: 100;
    margin-bottom: 30px;
    font-size: 16px;
    font-family: microsoft jhenghei light;
}

h6 {
    margin-top: 25px;
    font-weight: 100;
    font-size: 14px;
    font-family: microsoft jhenghei light;
    color: darkgrey;
    margin-bottom: 15px;
}

input {
    width: 100%;
    line-height: 40px;
    font-size: 16px;
    height: 60px;
    margin-bottom: 15px;
}

@media only screen and (max-width: 1200px) {
    #main {
        width: 75%;
        margin-left: 20%;
    }
    
    h1 {
        font-size: 55px;
    }

    #about {
        margin-left: 15%;
        margin-right: 7%;
        text-align: justify;
    }
    
    .extra p.numbers {
        padding-left: 65px;
        width: 200px;
    }
    
    .extra p.xtext {
        width: 195px;
    }

    #students {
        margin-left: 15%;
        margin-right: 10%;
    }

    #nobara {
        margin-left: 0%;
    }

    #contact {
        margin-left: 15%;
        margin-right: 10%;
        text-align: justify;
    }

    .side-bar {
        width: 120px;
    }
}

@media only screen and (max-width: 600px) {
    .side-bar {
        width: 100%;
        min-height: 30px;
        padding: 0;
        margin-left: 8%;
        margin-right: 8%;
        display: block;
        position: fixed;
        background-color: rgba(48, 45, 45, 0.5);
    }
    
    #side-img {
        display: none;
    }

    a {
        width: 100px; 
        display: inline-block;
        padding: 10px;
        color: darkgrey;
        font-size: 13px;
        text-decoration: none;
        text-align: center;
        position: relative;
    }
    
    a:hover {
        background-color: rgba(126, 119, 119, 0.623);
        color: white;
    }

    #main {
        width: 100%;
        margin-left: 10px;
    }
 
    #main-img {
        position: static;
        display: block;
        width: 100%;
    }

    h1 {
        font-size: 55px;
    }

    #about {
        margin-left: 10%;
        margin-right: 10%;
        text-align: justify;
    }
    
    .extra p.numbers {
        padding-left: 25px;
        width: 90px;
    }
    
    .extra p.xtext {
        width: 89px;
    }

    .box {
        display: block;
    }

    .container {
        width: 100%;
        margin-bottom: 40px;
    }

    #students {
        margin-left: 10%;
        margin-right: 10%;
    }

    #nobara {
        margin-left: 15px;
    }

    #contact {
        margin-left: 10%;
        margin-right: 10%;
        text-align: justify;
    }
}